/* Main elements of the page */

body {
  font-family: "Trebuchet MS", Arial, sans-serif;
}

#main_wrapper {
  width: 900px;
  margin: auto;
}

/* Header */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-basis: 200px;
}

/* Banner */
#banner_image {
  margin-bottom: 20px;
}

/* Section */
.flex-container-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 200px;
}

/* Article */
#articlePinnedHeading {
  margin-bottom: 20px;
}

#articleHeading {
  text-transform: uppercase;
}

#article {
  text-align: justify;
  flex: 2 1 0;
}

/* Aside */
#aside {
  background-color: rgb(245, 245, 245);
  margin-left: 20px;
  flex: 1 1 0;
  text-align: justify;
}

.flex-container-socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#aboutHeading {
  text-align: center;
}

#authorPic {
  text-align: center;
}

/* Footer */

#footer {
    background-color: rgb(241, 241, 241);
  margin-top: 20px;
  max-height: 150px;
}

#myFriendsList {
  list-style-image: url("images/external_link.png");
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.flex-container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerItemHeading {
  text-align: center;
}
