/* Main elements of the page */

body {
  font-family: "Trebuchet MS", Arial, sans-serif;
}

#main_wrapper {
  width: 900px;
  margin: auto;
}

/* Header */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

/* Banner */
#banner_image {
  margin-bottom: 20px;
}

/* Article */
#articleHeading {
  text-transform: uppercase;
}

#article {
    text-align: justify;
}

/* Body */

/* Footer */
